## Importing Libraries and Dataset

In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

In [64]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Importing the Data

In [65]:
df_train = pd.read_csv('HR_Analytics_train.csv')
df_test = pd.read_csv('HR_Analytics_test.csv')

In [66]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 4.8+ MB

In [67]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           23490 non-null  int64
 1   department            23490 non-null  object
 2   region                23490 non-null  object
 3   education             22456 non-null  object
 4   gender                23490 non-null  object
 5   recruitment_channel   23490 non-null  object
 6   no_of_trainings       23490 non-null  int64
 7   age                   23490 non-null  int64
 8   previous_year_rating  21678 non-null  float64
 9   length_of_service     23490 non-null  int64
 10  KPIs_met >80%         23490 non-null  int64
 11  awards_won?           23490 non-null  int64
 12  avg_training_score    23490 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 1.9+ MB

## Missing Data Imputation

In [68]:
df_train.isnull().sum()

df_train.education = df_train.education.fillna("Bachelor's")
df_train.previous_year_rating = df_train.previous_year_rating.fillna(3)

df_test.isnull().sum()

df_test.education = df_test.education.fillna("Bachelor's")
df_test.previous_year_rating = df_test.previous_year_rating.fillna(3)

## Categorical Data Conversion

In [59]:
df_train = pd.get_dummies(df_train, drop_first=True)
df_test = pd.get_dummies(df_test, drop_first=True)

## Train Test Split

In [60]:
X = df_train.drop('is_promoted', axis=1)
y = df_train.is_promoted

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## Creating the model

In [41]:
clf = RandomForestClassifier(n_estimators=100)

clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

## Predicting the Values

In [42]:
y_preds = clf.predict(df_test)

In [43]:
preds = pd.DataFrame(y_preds, columns=['is_promoted'])
preds.head()

   is_promoted
0            0
1            0
2            0
3            0
4            0

In [44]:
emp_id = df_test['employee_id']

In [45]:
emp_id = pd.DataFrame(emp_id)
emp_id = emp_id.astype('int')

In [46]:
df = emp_id.join(preds)
df.head()

   employee_id  is_promoted
0         8724            0
1        74430            0
2        72255            0
3        38562            0
4        64486            0

In [47]:
df.tail()

       employee_id  is_promoted
23485        53478            0
23486        25600            0
23487        45409            0
23488         1186            0
23489         5973            1

## Exporting to CSV file for making Submission

In [48]:
df.to_csv('HR_Analytics_FirstSubmission_RandomForestClassifier', 
          index=False)